:root {
  --text-color: #ede9fee6;
}


html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: "Space Grotesk", sans-serif;
  font-feature-settings: normal;

  ::-webkit-scrollbar {
    background-color: #27272a;
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #71717a;
    border-radius: 16px;
    border: 4px solid #27272a;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-moz-selection {
    color: white;
    background: #7e22ce;
  }

  ::selection {
    color: white;
    background: #7e22ce;
  }
}

body {
  height: auto;
  scroll-behavior: smooth;
  margin: 0;
  line-height: inherit;
  color: var(--text-color)
}

.main {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 640px;
  flex-direction: column;
  gap: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-container {
  padding-top: 7rem;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #18181b, rgba(24, 24, 27, 0));

  .main-wrapper {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .main-container {
    display: grid;
    padding-top: 11rem;
    gap: 1.5rem;
    grid-template-rows: 1fr 300px;
    grid-template-columns: 1fr 640px 1fr;
  }
}