.heading-container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  .creator {
    width: 30%;
  }

  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
  }

  .job {
    display: flex;
    position: relative;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    i.icon {
      color: var(--text-color);
    }

    .social-button {
      text-decoration: underline;
      text-underline-offset: 2px;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }

    .social-button:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 1024px) {
  .social-button {
    text-decoration: none;
  }
}