.heading-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.heading-container .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.heading-container .job {
    display: flex;
    position: relative;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.heading-container .socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.heading-container .socials .social-button {
    text-decoration: underline;
    text-underline-offset: 2px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.heading-container .socials .social-button:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .heading-container .socials .social-button {
        text-decoration: none;
    }
}