.header {
  background-color: #b8a5e433;
  border: 1px solid #b8a5e48c;
  border-radius: 40px;
  backdrop-filter: blur(45px) brightness(100%);
  -webkit-backdrop-filter: blur(45px) brightness(100%);

  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;

  .navbar {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 45px;
    flex-wrap: wrap;

    .link {
      width: fit-content;
      font-family: "Space Grotesk";
      font-weight: 500;
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      letter-spacing: 0;
      line-height: normal;
    }
  }
}
