:root {
  --text-color: #ede9fee6;
  --text-title-size: 20px;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: "Space Grotesk", sans-serif;
  font-feature-settings: normal;
  background: linear-gradient(180deg, #2b2065 4.06%, #702ea5 74.74%);

  ::-webkit-scrollbar {
    background-color: #27272a;
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #71717a;
    border-radius: 16px;
    border: 4px solid #27272a;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-moz-selection {
    color: white;
    background: #2b2065;
  }

  ::selection {
    color: white;
    background: #7e22ce;
  }
}

body {
  height: auto;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 2rem;
  }
}
